/* Footer */
footer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  margin-right: 5px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 800;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer .link {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}
footer .follow .icon {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row1 img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow .icon:hover,
footer a:hover {
  color: #088178;
}
